.contentHeader {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.post {
  .postTop {
    margin: 5rem 0 4.125rem;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      line-height: 3.625rem;
      letter-spacing: -0.5px;
      color: var(--white);
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      padding-top: 1.5rem;

      li {
        display: flex;
        align-items: center;

        svg {
          width: 1.25rem;
          height: 1.25rem;
        }

        span {
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.062rem;
          color: var(--gray-200);
          padding-left: 0.5rem;
        }
      }
    }
  }

  article {
    h2 {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 3.125rem;
      text-align: justify;
      color: var(--white);
      padding-bottom: 3rem;
    }

    .postContent {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.562rem;
      text-align: justify;
      color: var(--gray-100);
      padding-bottom: 3rem;
    }
  }
}
